// style variables
$font-primary: 'Crete Round', serif;
$font-secondary: 'Work Sans', sans-serif;
$h1: 64px;
$h1-lg: 52px;
$h1-md: 42px;
$h1-sm: 34px;
$h2: 38px;
$h2-md: 36px;
$h2-sm: 30px;
$h3: 30px;
$h3-md: 28px;
$h3-sm: 24px;
$h4: 24px;
$h4-sm: 22px;
$h5: 18px;
$h6: 16px;
$color-primary: #F08E80;
$body-background: #fff6ef;
$white: #ffffff;
$black: #000000;
$dark: #152035;
$gray: #505050;
$light: #FAFAFA;

@import 'mixins';
@import 'typography';
@import 'common';
@import 'header';
@import 'main';